:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  padding: 0;
  margin: 0;
}

.container {
  touch-action: none;
  user-select: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

#controls {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;

  display: flex;
  column-gap: 0.5rem;
}
